@model PlayDate_App.Models.InviteListViewModel

@{
    ViewData["Title"] = "InviteFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Your Friends List</h1>
<head>
    <style>
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        img {
            border-radius: 8px 8px 0 0;
            display: block;
            width: auto;
            height: 15rem;
        }
    </style>
</head>

<div class="container">
    <hr />
    <h4><b>Available Friends</b></h4>
    <hr />
    <div class="row">
        @foreach (var parent in Model.FriendsList)
        {
            <div class='card m-4' style='width: 20rem;'>
                <a class="text-dark" asp-area="" asp-controller="Parent" asp-route-id="@parent.ParentId" asp-action="Details"><h3 class="text-center m-2"><b>@Html.DisplayFor(modelParent => parent.LastName) Family</b></h3></a>
                <img src="@parent.ImagePath" alt="Family Photo" style="width:100%">
                <div class='card-body'>
                    <h5 class='card-title justify-content-lg-center'><b>Our Profile</b></h5>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>
                            <b>Parents:</b>
                            @Html.DisplayFor(modelParent => parent.FirstName) <b>|</b>
                            @if (parent.SpouseName != null)
                            {
                                @Html.DisplayFor(modelParent => parent.SpouseName)
                            }
                        </li>
                        @*<li class='list-group-item'><b>Kids:</b>@foreach (Kid kid in parent.Kids)
                            {<div>Age: @kid.Age | Imm: @kid.Immunized | Mask: @kid.WearsMask </div>}</li>*@
                        <li class='list-group-item'>
                            <b>Thumbs Up:</b> @Html.DisplayFor(modelParent => parent.ThumbsUp)
                        </li>
                        <li class='list-group-item'>
                            <a class='btn btn-danger mt-3 btn-block' asp-controller="Event" asp-action="EventRequest" asp-route-parentTwoId="@parent.ParentId" asp-route-eventId="@Model.EventId">Invite</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>